/* Small stuff. */
body {
  font-family: 'Lato', sans-serif;
  font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #F9DEC9;
}

p.subtitle {
  font-weight: bold;
  font-size: 130%;
}

.row-research li {
  margin: 0.25em 0;
}

/*p {
  margin: 10px 0;
}*/

/*p a {
  color: #000;
  text-decoration: underline;
}
p a:hover, p a:focus {
  color: #666;
}*/

div.row-separated {
  border-top: 1px solid #F9DEC9;
  padding-top: 0.75em;
}

.justified {
  text-align: justify;
  text-justify: inter-word;
}

div.row-separated h3 {
  border: none;
  margin: 0.25em 0;
}

.toptitle {
  margin-top: 0;
}

div.header-science {
  background-color: #881F5C;
  text-align: right;
}
div.header-science:hover { background-color: #9C2369; }

div.header-photo {
  background-color: #1182A3;
  text-align: left;
}
div.header-photo:hover { background-color: #1392B8; }

div.header {
  color: #FFFFFF;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: large;
  font-family: 'Raleway', sans-serif;
  /*font-weight: bold;*/
}

.header > a, .header > a:hover, header > a:focus {
  color: #FFFFFF;
  text-decoration: none;
}

div#camera-roll {
  background-color: #3A405A;
  /*3A405A 
   * AEC5EB
   * F9DEC9
  */
  margin-top: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

div.photo {
  margin: 0.75em 0;
}

footer {
  margin: 1.5em 0;
  color: #999;
}

.navbar-ksyu .navbar-nav > li > a {
  color: #000;
}

div.header-row {
  margin-bottom: 1.5em;
}


/* Navbar */
.navbar-ksyu {
  margin: 1.5em 0 0.75em 0;
}
.navbar-science, .navbar-photo {
  border-radius: 0;
  border-bottom: 5px solid;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.navbar-science { border-bottom-color: #881F5C; }
.navbar-photo { border-bottom-color: #1182A3; }
.navbar-ksyu .navbar-brand {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 200%;
}
.navbar-ksyu .navbar-nav > li > a:hover,
.navbar-ksyu .navbar-nav > li > a:focus {
  color: #666;
  background-color: transparent;
}
.navbar-ksyu .navbar-nav > .active > a,
.navbar-ksyu .navbar-nav > .active > a:hover,
.navbar-ksyu .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-ksyu .navbar-nav > .disabled > a,
.navbar-ksyu .navbar-nav > .disabled > a:hover,
.navbar-ksyu .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-ksyu .navbar-toggle {
  border-color: #ddd;
}
.navbar-ksyu .navbar-toggle:hover,
.navbar-ksyu .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-ksyu .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-ksyu .navbar-collapse,
.navbar-ksyu .navbar-form {
  border-color: #e7e7e7;
}
.navbar-ksyu .navbar-nav > .open > a,
.navbar-ksyu .navbar-nav > .open > a:hover,
.navbar-ksyu .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-ksyu .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-ksyu .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-ksyu .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-ksyu .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-ksyu .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-ksyu .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-ksyu .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-ksyu .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-ksyu .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-ksyu .navbar-link {
  color: #777;
}
.navbar-ksyu .navbar-link:hover {
  color: #333;
}
.navbar-ksyu .btn-link {
  color: #777;
}
.navbar-ksyu .btn-link:hover,
.navbar-ksyu .btn-link:focus {
  color: #333;
}
.navbar-ksyu .btn-link[disabled]:hover,
fieldset[disabled] .navbar-ksyu .btn-link:hover,
.navbar-ksyu .btn-link[disabled]:focus,
fieldset[disabled] .navbar-ksyu .btn-link:focus {
  color: #ccc;
}

/* Fix things for phones */
@media (max-width: 400px) {
  .navbar-ksyu .navbar-brand {
    font-size: 140%;
  }
  div.header {
    font-size: medium;
  }
}
